@CHARSET "utf-8";
.form-control {
      border-radius: 0;
  }
.container {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);  
}
.btn-warning {
	background-color: #F26F21;
}
#logo {
	height: 34%;
	margin-bottom: 4%
}
